* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none
}

a ,a:-webkit-any-link
	{
	text-decoration: none;
	/* 去除默认的下划线 */
	outline: none;
	/* 去除旧版浏览器的点击后的外虚线框 */
	color: #000;
	/* 去除默认的颜色和点击后变化的颜色 */
}

img {
	border: 0;
	vertical-align: middle
}

body {
	width: 100%;
	max-width: 2520px;
	margin: 0 auto;
	padding: 0 80px;
	box-sizing: border-box;
}

/* font style */
.title-1 {
	font-weight: 700;
	font-size: 64px;
	color: #003431;
}

.title-2 {
	font-weight: 700;
	font-size: 48px;
	color: #003431;
}

.title-3 {
	font-weight: 700;
	font-size: 40px;
	color: #003431;
}

.title-4 {
	font-weight: 700;
	font-size: 32px;
	color: #003431;
}

.title-5-3D3D3D {
	font-weight: 700;
	font-size: 28px;
	color: #3D3D3D;
}

.title-6-3D3D3D {
	font-weight: 700;
	font-size: 24px;
	color: #3D3D3D;
}

.title-6-003431 {
	font-weight: 700;
	font-size: 24px;
	color: #003431;
}

.body-888888 {
	font-weight: 400;
	font-size: 18px;
	color: #888888;
}

.body-3D3D3D {
	font-weight: 400;
	font-size: 18px;
	color: #3D3D3D;
}

.body-3D3D3D-bold {
	font-weight: 700;
	font-size: 18px;
	color: #3D3D3D;
}

.body-6E6E6E {
	font-weight: 400;
	font-size: 18px;
	color: #6E6E6E;
}

.underlined-links {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 400;
	font-size: 18px;
	color: #6E6E6E;
}

.Breadcrumb-history {
	font-weight: 400;
	font-size: 14px;
	color: #888888;
}

.Breadcrumb-now {
	font-weight: 400;
	font-size: 14px;
	color: #3D3D3D;
}

/* button style */
.button {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	padding: 0 20px;
	height: 48px;
	border-radius: 6px;
}

.icon-button {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	padding: 20px;
	height: 50px;
	border-radius: 90px;

	.icon {
		margin-right: 10px;
		height: 16px;

	}
}

.round-icon-button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.mobile {
	.round-icon-button {
		width: 40px;
		height: 40px;
	}
}

/* line style*/
.vertical-lines {
	display: inline-block;
	width: 1px;
	height: 50px;
	line-height: 50px;
	background: #D9D9D9;
}

/* font-weight */
.semi-bold {
	font-weight: 600;
}